/* Custom variables/properties */
:root{
    --main-white: #e8eae7;
    --main-red: #a40033;
    --light-blue: #959ec9;
    --main-blue: #4e5174;
    --main-gray: #28264b;
    --border-radius: 2px;
    
}
/* Base reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Set font size for easy rem calculations
 * 10px = default document font size (16px)*62.5%
 */
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/* A few media query to set font sizes at different screen sizes. */

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html{
        font-size: 60%;
    }    
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
    html{
        font-size: 58%;
    }    
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
    html{
        font-size: 55%;
    }    
}

/* Base styles */

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem; /* 18px */
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-white);
}
h1,
h2{
    text-align: center;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
h1{
    font-size: 6rem;
}
h2{
    font-size: 4.2rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--main-white);
}
img{
    display: block;
    width: 100%;
}

/* nav */

#navbar{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: var(--main-red);
    position: fixed;   
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px var(--main-gray);  /* important */
}
#navbar ul{
    display: flex;
    margin-right: 2rem;
}
#navbar a{
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
}
#navbar a:hover{
    background: var(--main-gray);
}

/* Welcome section */

#welcome-section{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-gray);
    background-image: linear-gradient(120deg, var(--main-blue), var(--main-white))
}
#welcome-section p{
    font-size: 3rem;
    font-style: italic;
    font-weight: 200;
    color: var(--main-red);
}

/* Projects section */

#projects{
    text-align: center;
    background-color: var(--main-blue);
    padding: 10rem 2rem;
}
#projects h2{
    /* max-width: 640px; */
    /* font-style: italic; */
    font-size: 5rem;
    margin: 0 auto 6rem auto;
    /* border-bottom: 0.2rem solid var(--main-white); */
}
@media (max-width: 28.75em) {
    .projects h2{
      font-size: 4rem;
    }
  }
.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 4rem;
    row-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.project-tile{
    background-color: var(--main-gray);
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.project-image{
    height: calc(100% - 6.8rem); /* font-size x line-height: 2rem x 1.4; padding: 4rem; */
    width: 100%;
    object-fit: cover; /* important */
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.project-title{
    font-size: 2rem;
    padding: 2rem 0.5rem;
}
.code{
    color: var(--main-gray);
    transition: color 0.3s ease-out;
}
.project-tile:hover .code{
    color: var(--main-red);
}
.btn-show-all{
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    font-size: 2rem;
    background-color: var(--main-gray);
    transition: background-color 0.3s ease-out;
}
.btn-show-all:hover{
    background-color: var(--main-red);
}
.btn-show-all > i{
    margin-left: 1rem;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}
.btn-show-all:hover > i{
    transform: translateX(2px);
}

/* Contact section */

#contact{
    background-color: var(--main-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
}
#contact h2{
    font-size: 6rem;
}
@media (max-width: 28.75em) {
    #contact h2{
        font-size: 4rem;
    }
}
#contact p{
    font-style: italic;
}
.contact-links{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.contact-details{
    padding: 1rem 2rem;
    font-size: 2.4rem;
    transition: transform 0.3s ease-out;
}
.contact-details:hover{
    transform: translateY(8px);
}

/* Footer */

footer{
    border-top: 4px solid var(--main-red);
    font-weight: 300;
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: var(--main-gray);
}
footer > p{
    margin: 2rem;
}
footer i{
    vertical-align: middle;
}
@media (max-width: 28.75em) {
    footer{
        flex-direction: column;
        text-align: center;
    }    
}
